* {
    padding: 0;
    margin: 0;
}

nav {
    background-color: rgb(212, 212, 212);
    padding: 32px 0;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    // element będzie ważniejszy/nad innymi elementami na stronie
    z-index: 1;
    > a {
        margin-left: 32px;
        margin-right: 32px;
        text-transform: uppercase;
        letter-spacing: 2px;
        text-decoration: none;
        color: black;
    }
}

.content {
    width: 1000px;
    border: 5px solid green;
    margin-top: 20px;
    padding-bottom: 20px;
    position: relative;
    height: 500px;
}

.content-2 {
    width: 700px;
    margin: 10px auto;
}

.box {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    display: inline-block;
    // dla elementow mających klasy np box i box-1
    &.box-1 {
        background-color: yellow;
        position: sticky;
        top: 0;
    }
    &.box-2 {
        background-color: blue;
        position: relative;
        // top: -50px;
        bottom: 50px;
        left: 150px;
    }
    &.box-3 {
        background-color: green;
        width: 300px;
        height: 200px;
    }
    &.box-4 {
        background-color: red;
        position: absolute;
        right: 0;
        bottom: 0;
    }
    &.box-5 {
        background-color: orange;
        position: fixed;
        top: 10px;
        right: 10px;
        // element wazniejszy, nad innymi elementami i nad nawigacją. Im wyższa wartość tym będzie "wyżej"
        z-index: 2;
    }
}

.message-box {
    border: 1px solid black;
    border-radius: 10px;
    width: 300px;
    height: 400px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: white;
    > .message-header {
        height: 50px;
        border-bottom: 1px solid black;
        // background-color: rgb(216, 216, 216);
        position: relative;
        > .icon {
            background-color: yellowgreen;
            border-radius: 50%;
            width: 46px;
            height: 46px;
            margin-top: 2px;
            margin-left: 2px;
        }
        > .person {
            position: absolute;
            top: 16px;
            left: 60px;
        }
    }
}

#sec-4 {
    font-weight: bold;
}