// .box {
//     color: red;
// }

// #box {
//     color: red;
// }

// .container > .A {

// }

// $primaryColor: rgb(41, 41, 143);


// importujemy plik zewnetrzny ze zmiennymi
@import '_variables';

.container {
    > .A {
        // odwołojuemy się do zmienny z importowanego pliku
        color: $secondaryColor;
        > div {
            &:first-child {
                text-transform: uppercase;
            } 
        }
    }
    .tmp {
        border: 1px solid $primaryColor;
    }
}

h1 {
    // użycie "podprogramu" z podanym kolorem
    @include boxStyle(red);
}

p {
    // użycie "podprogramu z domyslnym kolorem
    @include boxStyle();
}

// tworzymy klasę, która będzie rozszerzać style innych elementów
.box-size {
    width: 100px;
    height: 100px;
    // border: 1px solid black;
    display: inline-block;
}

@for $i from 1 to 8 {
    .color-#{$i} {
        // odwołujemy się do klasy box-size, nie musimy powielać kodu
        @extend .box-size;
        background-color: #111 * $i;
        @if ($i % 2 == 1) {
            border: 5px solid black;
        }
        @if ($i % 2 == 0) {
            border: 5px dotted black;
        }
    }
}

$colors: yellow green red blue;
$id: 1;

// bierzemy kazdy kolor z zadeklarowanej listy
@each $color in $colors {
    .box-color-#{$id} {
        // odwołujemy się do klasy box-size, nie musimy powielać kodu
        @extend .box-size;
        background-color: $color;
    }
    $id: $id + 1;
}

h2 {
    color: lighten($primaryColor, 50%);
    border: 5px solid darken($primaryColor, 20%);
}