.content {
    width: 700px;
    margin: 0 auto;
    #aside {
        position: absolute;
        right: 50px;
        width: 150px;
    }
}

.header {
    position: relative;
    // border: 1px solid black;
    > h1 {
        text-align: center;
    }
    > button {
        width: 150px;
        height: 30px;
        // względem pierwotnej pozycji
        // position: relative;
        // top: -70px;
        position: absolute;
        top: 0;
    }
}