// position 
// static - domyslnie każdy element

// wszystkie wartości poniżej pozycjonujemy wykorzystując: 
// top
// bottom
// right
// left

// relative - ustawiamy element względem jego aktualnej pozycji
// absolute - 
// fixed


.content {
    width: 900px;
    margin: 10px auto;
    border: 2px solid red;
    padding: 8px;
    margin-bottom: 100px;
    position: relative;
    > .content-2 {
        width: 700px;
        margin: 20px;
        border: 2px solid green;
        position: relative;
    }
    #other {
        border: 1px solid blue;
        position: relative;
        top: 30px;
        left: 20px;
    }
    #pos-absolute {
        // element jest wyciągnięty ze strony i ustawiony względem pierwszego elementu innego niż static
        // tutaj: content-2, jesli content-2 byłby static, to względem content
        // jeśli nie znajdzie takiego elementu, to względem body
        position: absolute;
        bottom: 0;
        right: 0;
        width: 400px;
    }
}

.box {
    // element zostaje wyciągniety ze strony i jego pozycje ustalamy względem okna przeglądarki
    // przewijanie treści na stronie nie ma wplywu na ustawienie elementu
    position: fixed;
    bottom: 0;
    right: 50px;
}