* {
    margin: 0;
    padding: 0;
}

.content {
    display: grid;
    // opisujemy kolumny
    // grid-template-columns: 100px 100px 100px 100px 100px;
    // grid-template-columns: repeat(5, 150px); // to jest samo, co wypisywanie kilku wartości po kolei
    // grid-template-columns: repeat(5, 1fr);
    // grid-template-columns: 1fr 2fr 3fr 1fr 1fr;
    // grid-template-columns: repeat(2, 2fr) 3fr repeat(2, 1fr);
    // opisujemy wiersze
    // grid-template-rows: 150px 100px;

    grid-template-columns: repeat(4, 1fr);
    grid-gap: 16px;
    margin: 16px;
    @media (max-width: 1024px) {
        grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 562px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 324px) {
        // display: block;
        grid-template-columns: 1fr;
    }
    > .item {
        border: 1px solid black;
        padding: 16px;
    }
    > .item-2 {
        border: 1px solid red;

        // rozszerzamy komórkę, na kilka kolumn
        // grid-column-start: 2;
        // grid-column-end: 4;
        // grid-column: 2 / 4; // skrócony zapis (span 2)

        // komórka będzie zawierała kilka pozycji pod względem wysokości / wiersze
        // grid-row-start: 1;
        // grid-row-end: 3;
        // grid-row: 1 / 3; // to samo co wyżej
        // grid-row: 1 / span 2; // to samo, co wyżej (span określa ile bierzmy następnych komórek)
    }
    > .item-5 {
        border: 1px solid blue;
        // grid-row: 2 / span 2;
        // grid-column: 4 / 5;
    } 
}