* {
    margin: 0;
    padding: 0;
}

nav {
    height: 60px;
    background-color: gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    > .header {
        font-size: 24px;
        text-transform: uppercase;
        font-weight: bold;
    }
    > .menu {
        width: 600px;
        // border: 1px solid black;
        display: flex;
        justify-content: space-around;
    }
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    // margin-top: 10px;
    // height: 400px;
    height: calc(100vh - 92px);
    // border: 2px solid red;

    .box {
        border: 1px solid black;
        background-color: lightgray;
        width: 400px;
        height: 200px;
        // margin: 10px auto;

        // poniżej ustawiamy tekst w elemencie div.box
        display: flex;
        justify-content: flex-end; // center | flex-start
        align-items: flex-end; // center
    }
}