// opisujemy element, a później opisujemy styl przy różnych wielkościach ekranu

.box {
    border: 1px solid black;
    padding: 16px;
    width: 800px;
    margin: 16px auto;
    @media (max-width: 1100px) {
        width: 600px;
    }
    @media (max-width: 750px) {
        width: 400px;
    }
    @media (max-width: 550px) {
        width: 90%;
    }
}

h1 {
    font-size: 52px;
    @media (max-width: 750px) {
        font-size: 36px;
    }
    @media (max-width: 550px) {
        display: none;
    }
}

// w zależności od wielkości ekranu opisujemy, co ma się dziać z elementem

// .box {
//     border: 1px solid black;
//     padding: 16px;
//     width: 800px;
//     margin: 16px auto;
// }

// h1 {
//     font-size: 52px;
// }

// @media (max-width: 1100px) {
//     .box {
//         width: 600px;
//     }
// }

// @media (max-width: 750px) {
//     .box {
//         width: 400px;
//     }
//     h2 {
//         font-size: 36px;
//     }
// }

// @media (max-width: 550px) { 
//     .box {
//         width: 90%;
//     }
//     h2 {
//         display: none;
//     }
// }

// min-width

.test {
    width: 100px;
    height: 100px;
    background-color: lightgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (min-width: 400px) {
        width: 200px;
    }
    @media (min-width: 800px) {
        width: 300px;
    }
}

// 768 px, 1024 px