.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 16px;
    grid-template-areas: 
        "header header header"
        "nav content1 content1"
        "nav content2 content2"
        "footer footer footer";
    header {
        grid-area: header;
    }
    nav {
        grid-area: nav;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .content-1 {
        grid-area: content1;
    }
    .content-2 {
        grid-area: content2;
    }
    footer {
        grid-area: footer;
    }
    > * {
        border: 1px solid black;
        padding: 16px
    }
}