section {
    &.test {
        display: flex;
        border: 3px solid red;
        height: 800px;

        // domyslnie row
        flex-direction: row;
        // flex-direction: column-reverse;
        // flex-direction: row-reverse;

        // zawijanie pudełek w kolejne wiersze
        flex-wrap: wrap;

        // flex-flow: flex-direction flex-wrap
        // flex-flow: row-reverse nowrap;
        // czyli to samo co
        // flex-direction: row-reverse;
        // flex-wrap: nowrap;

        // co ma się dziać z elementami w poziomie
        justify-content: center;
        // space-between - takie same przerwy między elementami (przed pierwszym i ostatnim nie ma przerwy)
        // space-around - takie same marginesy z lewej i prawej strony elementu (pomiędzy elementami odstęp jest 2x większy niż przed pierwszym czy za ostatnim
        // space-evenly - takie same odstępy przed i za każdym elementem (pomiędzy elementami odstęp jest taki sam jak, jak przed pierwszym czy za ostanim
        // flex-start | flex-end | center

        // co ma się dziać z elementami w pionie
        align-content: flex-start;

        // align-items: flex-start | flex-end | center;
        // align-items: stretch;
        // stretch - rozciągnięcie elementów do wysokości tego największego
        align-items: flex-start;
        // justify-items - analogicznie
        > .content {
            border: 1px solid black;
            background-color: blanchedalmond;

            // stałą szerokość, oczywiśnie musimy powiedzieć, że wiersz/kolumna może się zawijać
            width: 220px; 
            // minimalna szerokość elementu, jeśli zostanie miejsce, to zostanie rozdzielone na wszystkie elementy w linii
            // flex: 200px;

            // flex: 1;

            // order - podajemy, który element ma być z kolei, 
            // -1 -> pierwszy, przed listą
            // wartości dodatnie - za elementami, których kolejność nie została określona
            &:nth-of-type(3) {
                order: 1;
                // flex: 2;
            }
            &:nth-of-type(5) {
                order: 2;
            }
            &:nth-of-type(7) {
                order: -1;
            }
            &:nth-of-type(9) {
                // możemy ustawiać pojedynczy element
                // flex-start | flex-end | center
                align-self: flex-end;
            }
            &:nth-of-type(2) {
                align-self: flex-end;
            }
            &:nth-of-type(4) {
                align-self: center;
            }
        }
    }
}