header {
    color: green;
    font-size: 32px; 
    /* px, %, cm,  */
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}

/* div, footer, .A, p, span {
    color: grey;
}

div {
    color: grey;
    font-size: 14px;
} */

.box {
    color: grey;
}

#container {
    font-weight: bold;
}

