.box {
    /* width: 60%; */
    /* width: 100px; */
    border: 1px solid black;
    height: 200px;
    /* Tekst niemieszczący się w pudełku zostanie ukryty */
    /* overflow: hidden; */
    /* Tekst niemieszczący się w pudełku możemy przewijać */
    overflow: scroll;
    /* min-width: 400px;
    max-width: 800px; */
    padding: 10px;
    margin: 20px;
    /* width: 100%; */
    width: 500px;
    box-sizing: content-box;
    text-align: center;
}

.content-box {
    border: 1px solid red;
    width: 50%;
    border-top-left-radius: 10px;
    height: 50px;
    border-bottom-right-radius: 20px;
}

.box-2 {
    /* border: 1px solid black; */
    height: 100px;
    width: 600px;
    border-top: 2px double red;
    border-bottom: 5px dotted green;
    border-left:  1px solid yellow;
    border-right: 1px solid blue;
    /* margin-top: 16px;
    margin-bottom: 32px; */
    padding-left: 8px;
    margin: 0 auto;
    /* margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto; */
}

.item {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    display: inline-block;
}

.item-3 {
    display: none;
    border: 5px solid blue;
}