/* * {
    padding: 0;
    margin: 0;
}

p {
    color: red;
}

p.test-1 {
    font-size: 20px;
}

#test-2, p#test-2 {
    font-size: 10px;
}

.A > .C {
    color: orange;
}

.A .C {
    text-transform: uppercase;
}

p.test-1 + div.test-1 {
    border: 1px solid black;
}

ul > li {
    color: red;
    border: 1px solid red;
}

.box {
    color: blue;
}

.box > p {
    color: inherit;
} */

p {
    color: green;
}

h1 + p {
    color: red;
}

div > h1 + p {
    color: blue;
}

.B p {
    color: orange;
}

.B > p {
    color: yellow;
}