body {
    margin: 0;
    padding: 0;
}

.box {
    border: 1px solid black;
    margin: 20px 50px;
    /* 
    margin: 20px 50px;
    ==
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px; 
    */

    /* 
    margin: 20px;
    ==
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px; 
    */

    padding: 20px;
}

h1 {
    margin-top: 0;
    font-weight: normal; 
    /* 500, 600, bold, bolder */
    font-style: italic;
    text-transform: uppercase;
    text-decoration: underline;
}

.box:first-of-type > p {
    margin-bottom: 0;
    text-transform: lowercase;
    letter-spacing: 2px;
    word-spacing: 8px;
    line-height: 1.8em;
    text-align: justify;
}

.box:nth-of-type(2) {
    border: 3px solid red;
}

.form-group:nth-of-type(odd) {
    margin-left: 20px
}

.form-group > label {
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 14px;
    color: rgb(66, 66, 66);
}

.form-group > p {
    margin-top: 2px;
    letter-spacing: 2px;
}

.form-group:last-of-type > p {
    margin-bottom: 0;
}

.form-group > p {
    text-decoration: underline;
}

.form-group > p:last-of-type {
    text-decoration: none;
}

.box:nth-of-type(2) > :last-child {
    color: blue;
}

.box:nth-of-type(2) > :first-child {
    color: green;
}

.box:nth-of-type(2) > :not(:last-child) {
    color: green;
}

.link {
    height: 50px;
}

#test {
    width: 100px;
    border: 1px solid red;
}

.other-link {
    font-size: 20px;
}

a:hover {
    color: red;
    /* font-size: 20px; */
    background-color: yellow;
    border-bottom: 2px solid blue;
}

input[type="number"] {
    width: 50px;
}

input[name$="e"] {
    /* width: calc(200px - 8px); */
    width: calc(100% - 50px);
}